HelloWeb/src/conf/xml-resources/web-service-references/WebApplicationWS/wsdl/localhost_8080/WebApplication/WebApplicationWS.wsdl

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.2-b608 (trunk-7979; 2015-01-21T12:50:19+0000) JAXWS-RI/2.2.11-b150120.1832 JAXWS-API/2.2.12 JAXB-RI/2.2.12-b141219.1637 JAXB-API/2.2.13-b141020.1521 svn-revision#unknown. --><!-- Generated by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.2-b608 (trunk-7979; 2015-01-21T12:50:19+0000) JAXWS-RI/2.2.11-b150120.1832 JAXWS-API/2.2.12 JAXB-RI/2.2.12-b141219.1637 JAXB-API/2.2.13-b141020.1521 svn-revision#unknown. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://controller/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://controller/" name="WebApplicationWS">
<types>
<xsd:schema>
<xsd:import namespace="http://controller/" schemaLocation="http://localhost:8080/WebApplication/WebApplicationWS?xsd=1"/>
</xsd:schema>
</types>
<message name="getByTitle">
<part name="parameters" element="tns:getByTitle"/>
</message>
<message name="getByTitleResponse">
<part name="parameters" element="tns:getByTitleResponse"/>
</message>
<message name="getByDate">
<part name="parameters" element="tns:getByDate"/>
</message>
<message name="getByDateResponse">
<part name="parameters" element="tns:getByDateResponse"/>
</message>
<message name="getByAuthor">
<part name="parameters" element="tns:getByAuthor"/>
</message>
<message name="getByAuthorResponse">
<part name="parameters" element="tns:getByAuthorResponse"/>
</message>
<portType name="WebApplicationWS">
<operation name="getByTitle">
<input wsam:Action="http://controller/WebApplicationWS/getByTitleRequest" message="tns:getByTitle"/>
<output wsam:Action="http://controller/WebApplicationWS/getByTitleResponse" message="tns:getByTitleResponse"/>
</operation>
<operation name="getByDate">
<input wsam:Action="http://controller/WebApplicationWS/getByDateRequest" message="tns:getByDate"/>
<output wsam:Action="http://controller/WebApplicationWS/getByDateResponse" message="tns:getByDateResponse"/>
</operation>
<operation name="getByAuthor">
<input wsam:Action="http://controller/WebApplicationWS/getByAuthorRequest" message="tns:getByAuthor"/>
<output wsam:Action="http://controller/WebApplicationWS/getByAuthorResponse" message="tns:getByAuthorResponse"/>
</operation>
</portType>
<binding name="WebApplicationWSPortBinding" type="tns:WebApplicationWS">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
<operation name="getByTitle">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="getByDate">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="getByAuthor">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
</binding>
<service name="WebApplicationWS">
<port name="WebApplicationWSPort" binding="tns:WebApplicationWSPortBinding">
<soap:address location="http://localhost:8080/WebApplication/WebApplicationWS"/>
</port>
</service>
</definitions>