WebClient/src/conf/xml-resources/web-service-references/WebApplicationWS/wsdl/osmars-macbook-pro.local_8080/WebApplication/WebApplicationWS.xsd_1.xsd

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.2-b608 (trunk-7979; 2015-01-21T12:50:19+0000) JAXWS-RI/2.2.11-b150120.1832 JAXWS-API/2.2.12 JAXB-RI/2.2.12-b141219.1637 JAXB-API/2.2.13-b141020.1521 svn-revision#unknown. --><xs:schema xmlns:tns="http://controller/" xmlns:xs="http://www.w3.org/2001/XMLSchema" version="1.0" targetNamespace="http://controller/">

<xs:element name="getByAuthor" type="tns:getByAuthor"/>

<xs:element name="getByAuthorResponse" type="tns:getByAuthorResponse"/>

<xs:element name="getByDate" type="tns:getByDate"/>

<xs:element name="getByDateResponse" type="tns:getByDateResponse"/>

<xs:element name="getByTitle" type="tns:getByTitle"/>

<xs:element name="getByTitleResponse" type="tns:getByTitleResponse"/>

<xs:complexType name="getByAuthor">
<xs:sequence>
<xs:element name="author" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="getByAuthorResponse">
<xs:sequence>
<xs:element name="return" type="tns:video" minOccurs="0" maxOccurs="unbounded"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="video">
<xs:sequence>
<xs:element name="author" type="xs:string" minOccurs="0"/>
<xs:element name="date" type="xs:string" minOccurs="0"/>
<xs:element name="description" type="xs:string" minOccurs="0"/>
<xs:element name="duration" type="xs:string" minOccurs="0"/>
<xs:element name="format" type="xs:string" minOccurs="0"/>
<xs:element name="id" type="xs:int"/>
<xs:element name="reproductions" type="xs:int"/>
<xs:element name="title" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="getByTitle">
<xs:sequence>
<xs:element name="title" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="getByTitleResponse">
<xs:sequence>
<xs:element name="return" type="tns:video" minOccurs="0" maxOccurs="unbounded"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="getByDate">
<xs:sequence>
<xs:element name="date" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="getByDateResponse">
<xs:sequence>
<xs:element name="return" type="tns:video" minOccurs="0" maxOccurs="unbounded"/>
</xs:sequence>
</xs:complexType>
</xs:schema>